workflows/google-form-to-github.json
{
  "name": "Google Form to GitHub - Athlete Intake",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "mode": "id",
          "value": "1DljgAQiR48uiZXsXClXEdmoSr-WMCK7fpCBOAoVUUKc"
        },
        "sheetName": {
          "__rl": true,
          "value": 1195731411,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DljgAQiR48uiZXsXClXEdmoSr-WMCK7fpCBOAoVUUKc/edit#gid=1195731411"
        },
        "event": "rowAdded",
        "options": {}
      },
      "id": "af5e5b7e-228e-43a9-8bfb-e421161f2970",
      "name": "New Form Submission",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "FgtydgIHvEE7WRCC",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Transform Google Form submission to athlete intake JSON\nconst input = $input.first().json;\n\n// Parse timestamp and create filename-safe version\nconst timestamp = new Date(input['Timestamp']).toISOString();\nconst fileTimestamp = timestamp.replace(/[:.]/g, '-');\n\n// Helper to parse checkbox selections into array of day names\nfunction parseDays(checkboxValue) {\n  if (!checkboxValue) return [];\n  const dayMap = {\n    'Monday': 'monday', 'Tuesday': 'tuesday', 'Wednesday': 'wednesday',\n    'Thursday': 'thursday', 'Friday': 'friday', 'Saturday': 'saturday', 'Sunday': 'sunday'\n  };\n  return checkboxValue.split(',').map(d => dayMap[d.trim()]).filter(Boolean);\n}\n\n// Helper to parse blocked dates table\nfunction parseBlockedDates(raw) {\n  if (!raw) return [];\n  const lines = raw.split('\\n').filter(l => l.includes('|'));\n  return lines.slice(1).map(line => {\n    const parts = line.split('|').map(p => p.trim()).filter(Boolean);\n    if (parts.length >= 3) {\n      const [dates, reason, type] = parts;\n      const [startDate, endDate] = dates.split('-').map(d => d.trim());\n      return { startDate, endDate: endDate || startDate, reason, type: type.toLowerCase() };\n    }\n    return null;\n  }).filter(Boolean);\n}\n\n// Build the athlete intake object\nconst athleteIntake = {\n  submittedAt: timestamp,\n  email: input['Email Address'] || input['Email'] || '',\n  \n  recentRace: {\n    raw: input['1. Recent Race Performance'] || input['Recent Race Performance'] || ''\n  },\n  \n  availability: {\n    runningDays: parseDays(input['2. Running Availability Days'] || input['Running Days']),\n    preferredRunTime: input['2a. Preferred Running Time'] || input['Preferred Run Time'] || 'morning',\n    preferredLongRunDay: (input['3. Preferred Long Run Day'] || input['Long Run Day'] || 'sunday').toLowerCase(),\n    strengthDays: parseDays(input['9. Strength Training Days'] || input['Strength Days']),\n    preferredStrengthTime: input['9a. Preferred Strength Time'] || input['Preferred Strength Time'] || 'evening'\n  },\n  \n  weeklyHoursLimit: input['4. Weekly Hours'] || input['Total Weekly Commitment'] || '',\n  \n  heartRate: {\n    maxHR: input['5. Max Heart Rate'] || '',\n    lthr: input['6. Lactate Threshold HR'] || '',\n    restingHR: input['7. Resting Heart Rate'] || ''\n  },\n  \n  strengthPreferences: {\n    daysPerWeek: input['8. Lifting Days Per Week'] || input['Lifting Frequency'] || '',\n    restrictions: input['10. Exercise Restrictions'] || input['Exercise Preferences'] || ''\n  },\n  \n  bodyComposition: {\n    heightWeight: input['11. Height and Weight'] || input['Basic Metrics'] || '',\n    age: input['12. Age'] || '',\n    sex: input['13. Gender'] || '',\n    activityLevel: input['14. Activity Level'] || input['Daily Activity Level'] || ''\n  },\n  \n  dietaryRestrictions: input['15. Dietary Restrictions'] || '',\n  \n  blockedDates: parseBlockedDates(input['16. Blocked Dates'] || input['Travel & Conflict Dates'] || ''),\n  \n  goal: input['17. Marathon Goal'] || input['Eugene Marathon Goal'] || '',\n  targetTime: input['17a. Target Time'] || input['Target Time'] || ''\n};\n\n// Create filename from timestamp and email\nconst emailPrefix = athleteIntake.email.split('@')[0].replace(/[^a-zA-Z0-9]/g, '-') || 'athlete';\nconst filename = `intake/${emailPrefix}-${fileTimestamp}-submission.json`;\n\nreturn {\n  json: {\n    athleteIntake,\n    filename,\n    fileContent: JSON.stringify(athleteIntake, null, 2),\n    commitMessage: `Add athlete intake: ${emailPrefix} (${fileTimestamp})`\n  }\n};"
      },
      "id": "b4498718-76bb-4e71-8538-3ee66a4f4a5e",
      "name": "Transform to Athlete JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [224, 0]
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "mode": "name",
          "value": "kalebcole"
        },
        "repository": {
          "__rl": true,
          "value": "eugene-marathon-plan-generator",
          "mode": "name"
        },
        "filePath": {
          "__rl": true,
          "value": "={{ $json.filename }}",
          "mode": "expression"
        },
        "fileContent": "={{ $json.fileContent }}",
        "commitMessage": "={{ $json.commitMessage }}"
      },
      "id": "6ced4de6-8634-48fe-8ffa-7f4df7fa15eb",
      "name": "Commit to GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [448, 0],
      "webhookId": "a23ff0a5-5189-4026-99b5-b5738d916337",
      "credentials": {
        "githubApi": {
          "id": "5rfl0z39l0yHWgkW",
          "name": "Eugene Marathon Plan PAT"
        }
      },
      "disabled": false
    }
  ],
  "pinData": {},
  "connections": {
    "New Form Submission": {
      "main": [
        [
          {
            "node": "Transform to Athlete JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform to Athlete JSON": {
      "main": [
        [
          {
            "node": "Commit to GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "ca248622-76a7-4c10-852f-e39e80015cf8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4038bc807ff8f467d32a6f6a7b326dc5dcf13409b6a0cf608446acd26c7f76b6"
  },
  "id": "PE4GnReyMuoookZ5",
  "tags": []
}
