workflows/google-form-to-github.json
{
  "name": "Google Form to GitHub - Athlete Intake",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "mode": "id",
          "value": "1DljgAQiR48uiZXsXClXEdmoSr-WMCK7fpCBOAoVUUKc"
        },
        "sheetName": {
          "__rl": true,
          "value": 1195731411,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DljgAQiR48uiZXsXClXEdmoSr-WMCK7fpCBOAoVUUKc/edit#gid=1195731411"
        },
        "event": "rowAdded",
        "options": {}
      },
      "id": "af5e5b7e-228e-43a9-8bfb-e421161f2970",
      "name": "New Form Submission",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "FgtydgIHvEE7WRCC",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Transform Google Form submission to athlete intake JSON\n// Supports both human-friendly form titles and legacy numbered format\nconst input = $input.first().json;\n\n// Parse timestamp and create filename-safe version\nconst timestamp = new Date(input['Timestamp']).toISOString();\nconst fileTimestamp = timestamp.replace(/[:.]/g, '-');\n\n// Helper to get field value with multiple possible column names\nfunction getField(...keys) {\n  for (const key of keys) {\n    if (input[key] !== undefined && input[key] !== '') return input[key];\n  }\n  return '';\n}\n\n// Helper to parse checkbox selections into array of day names\nfunction parseDays(checkboxValue) {\n  if (!checkboxValue) return [];\n  const dayMap = {\n    'Monday': 'monday', 'Tuesday': 'tuesday', 'Wednesday': 'wednesday',\n    'Thursday': 'thursday', 'Friday': 'friday', 'Saturday': 'saturday', 'Sunday': 'sunday'\n  };\n  return checkboxValue.split(',').map(d => dayMap[d.trim()]).filter(Boolean);\n}\n\n// Helper to parse blocked dates - supports multiple formats\nfunction parseBlockedDates(raw) {\n  if (!raw) return [];\n  const results = [];\n  \n  // Try table format first (pipes)\n  if (raw.includes('|')) {\n    const lines = raw.split('\\n').filter(l => l.includes('|'));\n    for (const line of lines.slice(1)) {\n      const parts = line.split('|').map(p => p.trim()).filter(Boolean);\n      if (parts.length >= 3) {\n        const [dates, reason, type] = parts;\n        const [startDate, endDate] = dates.split('-').map(d => d.trim());\n        results.push({ startDate, endDate: endDate || startDate, reason, type: type.toLowerCase() });\n      }\n    }\n  } else {\n    // Parse freeform format: \"Feb 15-22: work travel (REST)\" or \"Mar 7-8: skiing (CROSS-TRAINING OK)\"\n    const lines = raw.split('\\n').filter(l => l.trim());\n    for (const line of lines) {\n      const match = line.match(/([A-Za-z]+\\s+\\d+(?:-\\d+)?):?\\s*(.+?)\\s*\\(([^)]+)\\)/i);\n      if (match) {\n        const [, dates, reason, typeRaw] = match;\n        const type = typeRaw.toLowerCase().includes('cross') ? 'cross-training' : 'rest';\n        results.push({ startDate: dates.trim(), endDate: dates.trim(), reason: reason.trim(), type });\n      }\n    }\n  }\n  return results;\n}\n\n// Normalize time preference to lowercase\nfunction normalizeTime(val) {\n  if (!val) return 'morning';\n  return val.toLowerCase().replace('flexible', 'morning');\n}\n\n// Normalize goal value\nfunction normalizeGoal(val) {\n  if (!val) return 'finish';\n  const v = val.toLowerCase();\n  if (v.includes('just finish') || v.includes('finish comfortably')) return 'finish';\n  if (v.includes('target') || v.includes('specific time')) return 'time_goal';\n  if (v.includes('best') || v.includes('pr') || v.includes('push')) return 'pr';\n  return val;\n}\n\n// Build the athlete intake object\nconst athleteIntake = {\n  submittedAt: timestamp,\n  email: getField('Email Address', 'Email'),\n  \n  recentRace: {\n    raw: getField(\n      'What was your recent race time?',\n      '1. Recent Race Performance',\n      'Recent Race Performance'\n    )\n  },\n  \n  availability: {\n    runningDays: parseDays(getField(\n      'Which days are you available to RUN?',\n      '2. Running Availability Days',\n      'Running Days'\n    )),\n    preferredRunTime: normalizeTime(getField(\n      'What time of day do you prefer to run?',\n      '2a. Preferred Running Time',\n      'Preferred Run Time'\n    )),\n    preferredLongRunDay: getField(\n      'Which day do you prefer for your LONG RUN?',\n      '3. Preferred Long Run Day',\n      'Long Run Day'\n    ).toLowerCase() || 'sunday',\n    strengthDays: parseDays(getField(\n      'Which days are you available to STRENGTH TRAIN?',\n      '9. Strength Training Days',\n      'Strength Days'\n    )),\n    preferredStrengthTime: normalizeTime(getField(\n      'What time of day do you prefer for strength training?',\n      '9a. Preferred Strength Time',\n      'Preferred Strength Time'\n    ))\n  },\n  \n  weeklyHoursLimit: getField(\n    'How many TOTAL hours per week can you train (running + strength combined)?',\n    '4. Weekly Hours',\n    'Total Weekly Commitment'\n  ),\n  \n  heartRate: {\n    maxHR: getField(\"What's your Max Heart Rate?\", '5. Max Heart Rate'),\n    lthr: getField('Lactate Threshold HR (if known)', '6. Lactate Threshold HR'),\n    restingHR: getField('Resting Heart Rate', '7. Resting Heart Rate')\n  },\n  \n  strengthPreferences: {\n    daysPerWeek: getField(\n      'How many days per week do you want to lift?',\n      '8. Lifting Days Per Week',\n      'Lifting Frequency'\n    ),\n    restrictions: getField(\n      'Any exercises to include or avoid?',\n      '10. Exercise Restrictions',\n      'Exercise Preferences'\n    )\n  },\n  \n  bodyComposition: {\n    heightWeight: getField('Height and Weight', '11. Height and Weight', 'Basic Metrics'),\n    age: getField('Age', '12. Age'),\n    sex: getField('Gender (for calorie calculations)', '13. Gender'),\n    activityLevel: getField(\n      'Activity level outside of training?',\n      '14. Activity Level',\n      'Daily Activity Level'\n    )\n  },\n  \n  dietaryRestrictions: getField(\n    'Dietary restrictions or preferences',\n    '15. Dietary Restrictions'\n  ),\n  \n  blockedDates: parseBlockedDates(getField(\n    'Any dates you will be unavailable during training?',\n    '16. Blocked Dates',\n    'Travel & Conflict Dates'\n  )),\n  \n  goal: normalizeGoal(getField(\n    \"What's your goal for the Eugene Marathon?\",\n    '17. Marathon Goal',\n    'Eugene Marathon Goal'\n  )),\n  targetTime: getField(\n    \"If targeting a specific time, what's your goal?\",\n    '17a. Target Time',\n    'Target Time'\n  )\n};\n\n// Create filename from timestamp and email\nconst emailPrefix = athleteIntake.email.split('@')[0].replace(/[^a-zA-Z0-9]/g, '-') || 'athlete';\nconst filename = `intake/${emailPrefix}-${fileTimestamp}-submission.json`;\n\nreturn {\n  json: {\n    athleteIntake,\n    filename,\n    fileContent: JSON.stringify(athleteIntake, null, 2),\n    commitMessage: `Add athlete intake: ${emailPrefix} (${fileTimestamp})`\n  }\n};"
      },
      "id": "b4498718-76bb-4e71-8538-3ee66a4f4a5e",
      "name": "Transform to Athlete JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [224, 0]
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "mode": "name",
          "value": "kalebcole"
        },
        "repository": {
          "__rl": true,
          "value": "eugene-marathon-plan-generator",
          "mode": "name"
        },
        "filePath": {
          "__rl": true,
          "value": "={{ $json.filename }}",
          "mode": "expression"
        },
        "fileContent": "={{ $json.fileContent }}",
        "commitMessage": "={{ $json.commitMessage }}"
      },
      "id": "6ced4de6-8634-48fe-8ffa-7f4df7fa15eb",
      "name": "Commit to GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [448, 0],
      "webhookId": "a23ff0a5-5189-4026-99b5-b5738d916337",
      "credentials": {
        "githubApi": {
          "id": "5rfl0z39l0yHWgkW",
          "name": "Eugene Marathon Plan PAT"
        }
      },
      "disabled": false
    }
  ],
  "pinData": {},
  "connections": {
    "New Form Submission": {
      "main": [
        [
          {
            "node": "Transform to Athlete JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform to Athlete JSON": {
      "main": [
        [
          {
            "node": "Commit to GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "ca248622-76a7-4c10-852f-e39e80015cf8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4038bc807ff8f467d32a6f6a7b326dc5dcf13409b6a0cf608446acd26c7f76b6"
  },
  "id": "PE4GnReyMuoookZ5",
  "tags": []
}
